.footer {
  max-width: 1280px;
  margin: 0 auto;
  padding: 60px 0;
}

.footer__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  font-weight: 400;
  font-size: 16px;
  color: #212121;
  opacity: 70%;
}

@media screen and (max-width: 630px) {
  .footer {
    padding: 40px 20px;
  }
}
