.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.profile__avatar {
  height: 190px;
  width: 190px;
  margin-right: 20px;
  border-radius: 8px;
}

.profile__column {
  display: flex;
  flex-direction: column;
}

.profile__name {
  margin: 0 0 12px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__description {
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  color: #212121;
  opacity: 70%;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__edit-btn {
  margin: auto 0 0 0;
  padding: 0;
  display: flex;
  white-space: nowrap;
  max-width: 108px;
  opacity: 70%;
  border: none;
  background-color: transparent;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  transition: opacity 0.3s;
}

.profile__edit-btn-icon {
  padding-right: 8px;
}

.profile__edit-btn:hover {
  opacity: 100%;
  cursor: pointer;
}

.profile__add-btn {
  margin: auto 0 0 auto;
  border-radius: 8px;
  max-width: 149px;
  padding: 18px 32px;
  white-space: nowrap;
  border: none;
  background-color: #212121;
  color: #fcf5e5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  transition: opacity 0.3s;
}

.profile__add-btn-icon {
  padding-right: 8px;
}

.profile__add-btn:hover {
  opacity: 80%;
  cursor: pointer;
}

@media screen and (max-width: 630px) {
  .profile {
    flex-direction: column;
    max-width: 282px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
  }

  .profile__avatar {
    height: 80px;
    width: 80px;
    margin: 0;
  }

  .profile__column {
    margin: 0 0 20px;
    align-items: center;
  }

  .profile__name {
    max-width: 288px;
    font-size: 20px;
    margin-top: 12px;
  }

  .profile__description {
    margin: 6px 0 32px;
    max-width: 288px;
  }

  .profile__add-btn {
    margin: 0;
    width: 100%;
    max-width: 288px;
  }
}
